@font-face {
  font-family: "CommitMono";
  src:
    local("CommitMono-400-Regular.otf"),
    url("http://127.0.0.1:5500/fonts/CommitMono-400-Regular.otf")
      format(opentype);
}

/* :root {

} */

/* ====== Resets ====== */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "CommitMono";
  margin: 0;
  padding: 0;
  border: 1px solid lightcoral;
  background-color: whitesmoke;
  padding: 1ch 1rem;
}

p {
  width: 100%;
  max-width: 60ch;
  line-height: 1.2rem;
}

ol,
ul {
  list-style: none;
}

/* ====== Styling ====== */

nav {
  position: fixed;
}

main {
  margin-left: 200px;
}

main * + * {
  margin-block-start: 1rem;
}

#main-nav {
  width: 200px;
}
